.allergies__left {
    width: 20vw;
    height: 90vh;
}

.allergies__right {
    width: 80vw;
    display: flex;
}

.allergies {
    display: flex;
}

.allergies__right-60 {
    width: 60vw;
    margin-right: 1rem;
}

.allergies__right-40 form h3{
 padding-bottom: 2rem;
}

.allergies__right-60 table {
    border-collapse: collapse;
    width: 100%;
    /* margin-right: 2rem; */
  }
  
  .allergies__right-60 th,
  .allergies__right-60 td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .allergies__right-60 th {
    background-color: #f2f2f2;
  }
  
  .allergies__right-60 tr:hover {
    background-color: #f5f5f5;
  }
  
  .allergies__right-60 .actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .allergy-table button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }

  .allergies__table {
    width: 40vw;
    margin-top: 1rem;
  }
  
  .allergies__table button {
    padding: 0.5rem;
    margin-right: 0.2rem;
    cursor: pointer;

  }

  .allergies__table button.edit {
    background-color: #2196F3; 
  }
  
  .allergies__table button.delete {
    background-color: #f44336; 
  }
  